:root {
    --violet:#9d109b;
}
* {
    margin: 0; 
    padding: 0;
    outline: none; border: none;
    text-decoration: none;
}  
li{
    list-style: none;
    padding: 1rem;
    font-size: large;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    color:  black;
}   
.list1{
    display: flex;
     


}
.part2 {
    background-image: url(images/home-bg.png);
    background-size: cover;
    background-position: center;
    height: 600px;
}
.icon{
    font-size: 25px;
  color:#0a0000;
  padding-left: 50px;
  
  
}


.part1 {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    background-color: white;
    display:flex;
    height: 90px;   
}
.logo{
    font-size: 1.8rem;   
    padding-right: 50px;
}
.logo img {
    width: 200px;
    height: 200px;
}
#titre{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.part3 {
    
    align-items: center;
    padding-top: 80px;
}
.part3 h3{
    font-family:'Segoe UI', Tahoma ;
    font-style: normal;
    color: black;
    padding-left: 500px;
}
.part3 p{
    font-size: 1.5rem;
    color: #050404;
    padding-left:  400px;

}
.part4{
background-color:white ;
   display: flex;
   align-items: center;
   font-size: 40px;
   
}
.heading {
    text-align: center;
    font-size: 5rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(225, 51, 153, .05);
    font-family: freestyle script;
}
.heading span {
    color: var(--violet)
  }
.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
  }
  
.btn:hover {
    background: var(--pink);
  }



.part5{
    font-size: 1.5rem;
    color:black;
    display: flex;
    padding-left: 30px;
}
.part5 img{
    padding-left: 200px;
    width: 600px;
    height: 400px;
}
.txt button{
    color: white;
    font-size: 30px;
    background-color:black;
}
.butn btn{ 
    padding-left: 250px;
    font-size: 20px;
}
.foot{
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
    margin-top: 40px;
}
.foot .divf{
font-size: 20px;
}
.divaprod{
    width: 13rem;
    height: 20rem;
    background-color: transparent;
    border: 4px solid rgb(245, 244, 244);
    padding-left: 60px;

}
.divaprod img{
    width: 170px;
    height: 200px;
    padding-right: 80px;
    cursor: pointer;
    overflow: hidden;
}
.divaprod:hover img{
    transform: scale(1.1);
}
.gande{
    background-color: fff;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.divaprod .title{
font-size: 22px;
padding-left: 45px;
}
.divaprod .prix{
    font-size: 15px;
    padding-left: 45px;
    padding-top: 10px;
    }
.divaprod .icon{
        font-size: 22px;
        padding-left: 2px;
        padding-top: 20px;
        position: absolute;
        display: flex;
 }
 .review {
    background-color: #fff;
    width: 15rem;
    height: 20rem;
    background-color: transparent;
    border: 4px solid rgb(230, 225, 225);
    padding-left: 40px;
    border-radius: 20px;
 }

  
 .paragh{
    padding-top: 30px;
    padding-right: 30px;
 }
 .image{

    display: flex;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    margin-right: 1rem;
    padding-top: 40px;
    padding-right: 10px;
 }
 .image img{
    border-radius: 50%;
 }
 .image h3{
    padding-right: 10px;
    padding-top: 10px;
 }
 .grandrev{
    display: flex;
    justify-content: space-between;
 }
 .contact{
    background-image: url(images/01.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;


 }
 .contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 4.5rem 2.5rem;
    border: .1rem solid rgba(0, 0, 0,.1);
    border-radius: .5rem;
}
.contact .row form .box{
    padding: 20px;
    font-size: 25px;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0,.1);
    border-radius: .5rem;
    margin: 20px;
    width: 50%;
}


.contact .row form .box:focus{
    border-color: var(--pink);
}


.contact .row form textarea{
    height: 15px;
    resize: none;
}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
    
.products .box-container .box{
  flex: 1 1 30rem;
  box-shadow: 0  .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.1); 
  position: relative;
}

.products .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255, 51, 153,.05);
    z-index: 1;
    border-radius: .5rem;
}
.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .footer .box-container .box {
     flex: 1rem ;
  }
  
  .footer .box-container .box h3 {
    color: #333;
    font-size: 2rem;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a {
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a:hover {
    color: var(--pink);
    text-decoration: underline;
  }
  
  .footer .box-container .box img {
    margin-top: 1rem;
    justify-items: center;
    align-items: center;
    width: 20rem;
  }
  
  .footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2rem;
    font-size:  2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0, .1); 
  }
  

  /* MEDIA QUERIES */

@media (max-width: 991px) {
    html {
      font-size: 55%;
    }
  
    header {
      padding: 2rem;
    }
  
    section {
      padding: 2rem;
    }
  
    .home {
      background-position: left;
    }
  
  }
  

